.main-tab{
    height: 100vh;
    width: 100vw;
    padding: 2rem 1rem;
    background-color: white;
    color: #007DE3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: absolute;
    top: 0 ;
    right: 0 ;
    bottom: 0 ;
    left: 0;
}