.navbar{
    width: 100%;
    height: 10%;
    background-color: #008000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border: 5px solid darkgreen;
    border-bottom: none;
}

.navbar h1{
    font-size: 1.6rem;
}

.hamburger-open, .hamburger-squish{
    height: 1.2rem;
    width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-open{
    animation: spin 0.8s ease forwards;
}

@keyframes spin{
    to{
        transform: rotate(720deg)
    }
}

.hamburger-open span, .hamburger-squish span{
    height: 3px;
    width: 100%;
    background-color: white;
}

.hamburger-squish{
    animation: squish 0.5s ease forwards;
}

@keyframes squish{
    to{
        height: 0rem;
    }
}