.navcol{
    position: absolute;
    height: 50%;
    width: 100%;
    padding: 3rem 2rem 0rem 2rem;
    background-color: rgba(51, 192, 51, 0.303);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    z-index: 100;
    transform: translateY(-100%);
    animation: nav-col 1s ease-out forwards;
    animation-delay: 0.25s;
    box-shadow: 0px -10px 80px 5px rgb(5, 52, 5);
}

@keyframes nav-col{
    to{
        transform: translateY(0%);
    }
}

.close{
    font-size: 1rem;
    font-weight: bold;
    background-color: darkgreen;
    border: 2px solid white;
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0.5rem 0.75rem;;
    text-align: center;
}